# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
.Python
bin/
env/
build/
dist/
eggs/
sdist/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject
